@font-face {
  font-family: 'Agipo';
  src: url('/assets/fonts/AgipoBold.eot');
  src: url('/assets/fonts/AgipoBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/AgipoBold.svg#Agipo-Bold') format('svg'),
       url('/assets/fonts/AgipoBold.ttf') format('truetype'),
       url('/assets/fonts/AgipoBold.woff') format('woff'),
       url('/assets/fonts/AgipoBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Agipo';
  src: url('/assets/fonts/AgipoRegular.eot');
  src: url('/assets/fonts/AgipoRegular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/AgipoRegular.svg#Agipo-Regular') format('svg'),
       url('/assets/fonts/AgipoRegular.ttf') format('truetype'),
       url('/assets/fonts/AgipoRegular.woff') format('woff'),
       url('/assets/fonts/AgipoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/assets/fonts/GothamPro.eot');
  src: url('/assets/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/GothamPro.svg#GothamPro') format('svg'),
       url('/assets/fonts/GothamPro.ttf') format('truetype'),
       url('/assets/fonts/GothamPro.woff') format('woff'),
       url('/assets/fonts/GothamPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


