body {
  font-family: $font;
  background-color: $backgroundColor;
  min-width: 320px;
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
}

section {
  width: 430px;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  margin: 42px auto 0;
}

header {
  font-family: $second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 4px;
}

div {
  font-family: Agipo;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}
.container {
  display: none;
}